*{
	box-sizing: border-box;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

html {
	display: flex;
	min-height: 100%;
}

body{
	color: rgba(255, 255, 255, 0.7);
	flex: 1 1 auto;
	margin: 0;
	display: flex;
	flex-direction: column;
	background: #1c232a;
	width: 100%;
}

a{
	text-decoration: none;
}

#body, #wrapper{
	flex: 1;
	flex-direction: column;
}
